/* Main CSS - Register5! */


@font-face { font-family: 'font-face museo sans'; src: url(../../font/MuseoSans.otf); }
@font-face { font-family: 'font-face chunkfive'; src: url(../../font/Chunkfive.otf); }



#progress {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #eeece9;
	padding: 15px 0px;
}

#progress-indicator-container{
	width: 52%;
	float: right;
}

#progress-canvas {
	width: 225px;
	position: relative;
}

#progress-canvas svg {
	height: 16px;
	width: 0;
}

#progress-indicator {
	background: #efebe7;
	height: 16px;
	width: 225px;
	
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	
	-webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.6, transparent), to(rgba(255,255,255,0.2)));
}

#progress .expletive {
	width: 45%;
	text-align: right;
	font-size: 0.8em;
}

#wrapper {
	width: 700px;
	height: auto;
	margin: 0px auto;
	position: relative;
	top: 50px;
	
	background: #f7f5f3;
	background: -moz-linear-gradient(top, #f7f5f3, #f7f0f3);
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f5f3), to(#f7f0f3));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7f5f3', EndColorStr='#f7f0f3', GradientType=0);
	
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	
	-webkit-box-reflect: below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.8, transparent), to(rgba(255,255,255,0.7)));
}

#sash-container {
	position: absolute;
}

#sash {
	padding: 10px 10px;
	height: auto;
	width: 160px;
	text-align: center;
	font-size: 0.8em;
	color: #f7f5f3;
	text-shadow: -2px 1px 0px #6b1010;

	position: relative;
	top: 15px;
	left: -50px;
	z-index: 89;

	-webkit-transform: rotate(-40deg); 
	-moz-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-o-transform: rotate(-40deg);

	background: #dc3a3a;
	background: -moz-linear-gradient(top,  #dc3a3a,  #b31b1b);
	background: -webkit-gradient(linear, left top, left bottom, from(#dc3a3a), to(#b31b1b));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#dc3a3a', EndColorStr='#b31b1b', GradientType=0);

	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);

	border-top: 1px solid #dc3a3a;
	border-bottom: 1px solid #b31b1b;
}

.hide-sash-top {
	width: 200px;
	height: 100px;
	background: #fff;
	position: absolute;
	top: -107px;
	left: 20px;
	z-index: 90;
}


.hide-sash-left {
	width: 100px;
	height: 200px;
	background: #fff;
	position: absolute;
	top: 35px;
	left: -107px;
	z-index: 91;
}

.sash-shadow-top {
	height: 0;
	width: 0;
	line-height: 0;
	border-left: 8px solid transparent;
	border-top: 8px solid #ac1d1d;
	position: absolute;
	top: -5px;
	left: 115px;

	z-index: 10;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sash-shadow-left {
	height: 0;
	width: 0;
	line-height: 0;
	border-left: 9px solid transparent;
	border-top: 9px solid #ac1d1d;
	position: absolute;
	top: 96px;
	left: -4px;

	z-index: 10;

	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.hide-sash-shadow-top {
	background: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -60px;
	left: 104px;
	
	z-index: 120;
	
	-webkit-transform: rotate(-40deg); 
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

.hide-sash-shadow-left {
	background: #fff;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 79px;
	left: -60px;
	
	z-index: 120;
	
	-webkit-transform: rotate(-40deg); 
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	transform: rotate(-40deg);
}



#form-container, #process-container {
	padding-top: 10px;
	padding-bottom: 10px;
}


#form-container th {
	width: 150px;
	max-width: 150px;
}

#form-container th span, #form-container th label {
	display: block;
	width: auto;
	text-align: left;
	padding-left: 25px;
}
 
#form-container td {
	font-size: 0.8em;
	padding: 10px 0px;
}



.form-field-error {
	border: 1px solid #dc3a3a;
}

#form-container tr .form-alert {
	font-size: 0.7em;
	width: 210px;
	padding-right: 20px;
}

.form-error, .form-success {
	display: none;
}

.vee-container {
	position: relative;
	float: left;
}

#location-wrapper tr {
}

#geolocation-worked {
	display: none;
} 

.location-detection {
}

.location-name {
	font-weight: 700;
}

#location-answers-switch {
	height: 40px;
	overflow: auto;
	padding-left: 25px;
}

.switch a {
	display: block;
	text-decoration: none;
	font-size: 1em;
	float: left;
	padding: 7px 15px;
	font-weight: 100;
	cursor: pointer;
	position: relative;
	
	background: #e6e7e8;
	background: -moz-linear-gradient(top,  #e6e7e8,  #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#e6e7e8), to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e6e7e8', EndColorStr='#ffffff', GradientType=0);
}

.switch a.left-switch {
	border-bottom-left-radius 	: 10px;
	-moz-border-radius-bottomleft 	: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-top-left-radius 	: 10px;
	-moz-border-radius-topleft 	: 10px;
	-khtml-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.3);
	z-index: 10;
	
	border-right: none !important;
}

.switch a.right-switch {
	border-bottom-right-radius 	: 10px;
	-moz-border-radius-bottomright 	: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-top-right-radius 	: 10px;
	-moz-border-radius-topright	: 10px;
	-khtml-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3);
	z-index: 9;
	
	border-left: none !important;
}

.switch a.on-top {
	z-index: 11;
}

.switch a.checked, .ac_over {
	background: #dc3a3a;
	background: -moz-linear-gradient(top,  #dc3a3a,  #b31b1b);
	background: -webkit-gradient(linear, left top, left bottom, from(#dc3a3a), to(#b31b1b));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#dc3a3a', EndColorStr='#b31b1b', GradientType=0);
	color: #f7f5f3;
}

.switch a.left-switch.checked {
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.3);
	box-shadow: 2px 0px 2px rgba(0,0,0,0.3);
}

.switch a.right-switch.checked {
	-webkit-box-shadow: -2px 0px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: -2px 0px 2px rgba(0,0,0,0.3);
	box-shadow: -2px 0px 2px rgba(0,0,0,0.3);
}

#geolocation-fix {
	clear: both;
	position: relative;
	top: 10px;
}

#country-type {
	margin-top: 10px;
	margin-bottom: 10px;
}

.location-type-correction {
	margin-bottom: 15px;
	display: inline;
}

body #geolocation-fix .browsing-countries {
	border-bottom-right-radius 	: 0;
	-moz-border-radius-bottomright	: 0;
	-khtml-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius 	: 0;
	-moz-border-radius-bottomleft	: 0;
	-khtml-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom: 1px solid #e6e7e8;
}

#geolocation-fix-approval {
	display: inline;
	margin-left: 20px;
	font-size: 0.85em;
}

#geolocation-fix-approval strong {
	font-size: 1.2em;
}

#submit-form-expletive {
	float: left;
	margin-top: 17px;
	margin-left: 155px;
}

#submit-form {
	height: auto;
	float: right;
	margin-right: 40px;
	position: relative;
	border: 3px solid #EFEBE7;
	
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#submit-form input {
	cursor: pointer;
	background: #777;
	border: none;
	padding: 12px 22px;
	color: #000;
	font-size: 9pt;
	margin: 0;
	
	background: #f4f4f4;
	background: -moz-linear-gradient(top,  #ffffff,  #eeeeee);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#eeeeee', GradientType=0);
	
	border: 1px solid #ddd;
	border-bottom: 2px solid #ccc;
	border-top: 1px solid #e2e2e2;
	
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#submit-form input:active {
	background: -moz-linear-gradient(top,  #eeeeee,  #ffffff);
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#eeeeee', EndColorStr='#ffffff', GradientType=0);
}

/************* Process *************/

#submission-result-header {
	margin-top: 20px;
	text-align: center;
}

#process-container table {
	display: none;
	margin: 30px auto;
	width: 330px;
	background: #F7ECC0;
	border-radius : 15px;
	-moz-border-radius : 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
}

#process-container th {
	padding: 15px 0px 15px 20px;
	width: 130px;
	text-align: left;
}

#process-container td {
	font-size: 0.9em;
	padding: 15px 20px 15px 0px;
}

#result-password td {
	font-size: 0.75em;
	font-style: italic;
}

#about {
	width: 80%;
	margin: 0px auto;
	padding-bottom: 20px;
}

#technologies {
	font-style: italic; 
	text-align: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;
}

#about .image-container {
	width: 500px;
	margin: 0px auto;
	margin-top: 20px;
}

#about-explanation {
	font-family: georgia, serif;
	font-size: 0.8em;
}

#about-explanation p {
	margin-bottom: 10px;
}

#submission-error-prompt {
	margin: 20px auto 0px; 
	padding-bottom: 40px; 
	font-size: 0.9em; 
	width: 75%
}

#about h5 {
	font-weight: 700;
	margin: 20px 0px 15px;
}

