[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit
[submodule "app/Plugin/Usermgmt"]
	path = app/Plugin/Usermgmt
	url = https://arifsanchez:21325521@github.com/arifsanchez/Usermgmt.git
