/************* Basic Reset *************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,canvas{
border:0;outline:0;font-size:100%;vertical-align:baseline;
background:transparent;margin:0;padding:0;
word-wrap:break-word; background-position: no-repeat;
font-weight:100;}strong{font-weight:700;}em{font-style:italic;}
body{line-height:1;}ol,ul{list-style:none;}blockquote{
quotes:none;}blockquote:before,blockquote:after,{content:
none;}:focus{outline:0;}ins{text-decoration:none;}
del{text-decoration:line-through;}html,body{height:100%;}
table{border-collapse:collapse;border-spacing:0;}
/* avoid dotted border around links, buttons */
input::-moz-focus-inner, input::-moz-focus-inner, 
a::-moz-focus-inner{border:0px;}input:focus, input:focus, 
a:focus{outline:none;}
/* avoid safari, chrome form field glow */
textarea, input{ outline:none; }
/* handle titles */
h1{font-size:2em;}h2{font-size:1.8em;}h3{font-size:1.6em;}
h4{font-size:1.4em;}h5{font-size:1.2em;}h6{font-size:1.1em;}
/* custom classes */
.capitalized,.capitalize{text-transform:capitalize;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
img{color:transparent;font-size:0;}
.fix-float{clear:both;}
abbr{font-variant: small-caps;letter-spacing:0.1em;
text-transform: lowercase;}
/* style html5 elements */
section,hgroup,header,progress{display: block;}